<div class="container feed">
  <div class="col-md-10 col-md-offset-1">
    <section class="topSection">
      <h1 class="text-center">About Me</h1>
      <p class="aboutMe">I am a Web Developer who recently completed a Web Development Immersive course at General Assembly.  During my time in class, I gained an understanding of the logic behind MVC frameworks and how to approach various challenges when working in a development environment.  More importantly, I learned how to teach myself new technologies, so I now have confidence that I can learn any framework/language.  My interest in development began when I worked at Dollar Shave Club as International Coordinator of Member Services.  I was consistently pitching new features for our site, but I really wanted to understand the technical aspect of those implementations.  I find myself motivated when I recognize a problem and work to solve that problem to benefit the team I am collaborating with.  I am excited to work in an environment where I can face such challenges and help a company improve their products/services.</p>
      <br>
      <p>I have learned the following technologies, languages, frameworks, and libraries:
        <ul>
          <li>HTML, CSS, and the DOM</li>
          <li>SaaS, Responsive web design, and Bootstrap</li>
          <li>Javascript & jQuery</li>
          <li>Ruby, Ruby On Rails</li>
          <li>PostgreSQL and MongoDB</li>
          <li>MVC, Routers, and the Client-Server Model</li>
          <li>APIs, AJAX, and Postman</li>
          <li>Node.js and Express</li>
          <li>Angular.js</li>
          <li>Socket.io</li>
          <li>Ionic</li>
          <li>Deployment: Heroku/MongoLab</li>
        </ul>
        <p>You can learn more by visiting my <a target="_blank" href="https://www.linkedin.com/in/davidweber33">LinkedIn</a>, but you can learn the most by contacting me directly:</p>
        <p>Email: <span class="helvetica">davidjwe33@gmail.com</span></p>
        <p>Phone: 1(818) 312-6473</p>

    </section>
  </div>
</div>
