<div class="container feed">
  <div class="col-md-10 col-md-offset-1">
    <section class="topSection">
      <h1 class="text-center">Projects</h1>
      <h5 class="text-center">All projects were developed in one-week sprints during my time at General Assembly. Three were individual projects, and one('Words Worth One Picture') was a group collaboration.</h5>
    </section>
    <br>
    <hr>
    <br>

    <div class="col-md-12 section">
      <div class="col-md-6" id="projectFourPic">
      </div>

      <div class="col-md-6">
        <h2 class="text-center">BillSplit</h2>
        <p>BillSplit is an Ionic app for IOS that allows a user to split a restaurant bill amongst his/her friends. The user enters the names of people eating and takes a picture of a receipt.  The prices on the receipt can then be manipulated to add costs to each person eating. Once tax and tip are added, the app displays how much each person eating should pay.</p>
        <br>
        <p>You can view a prototype of the app in my <a class="underline" href="https://salty-fortress-17530.herokuapp.com/#/tab/users">web version</a>, or check out its full functionality (with camera) in Ionic View by sending me a request at <span class="helvetica">davidjwe33@gmail.com</span>
        <br>
        <!-- <input type="text" placeholder="email" class="text-center"><button class="btn btn-primary">Submit</button> -->
        </p>
        <br>
        <p>Github Repo: <a class="underline" href="https://github.com/djw11192/BillSplit">Click Here</a></p>
        <p>Technologies: Ionic, Angular, OCR API, Node with Express, MongoDB, AWS, HTML/CSS</p>
      </div>
    </div>


    <div class="col-md-12 section">
      <br>
      <hr>
      <div class="col-md-6">
        <h2 class="text-center">Words Worth One Picture</h2>
        <p>Words Worth One Picture is a competition-based photo sharing app. It is similar to famous games like 'Apples to Apples' or 'Cards Against Humanity', except players use photos instead of words/phrases. Users can join games that they are invited to and use our Google Custom Search API to submit the funniest photos they can find that match the word being played.
        </p>
        <br>
        <p>You can play <a class="underline" href="https://infinite-eyrie-42957.herokuapp.com/">here</a>, but there should be a minimum of 3 players. You can also view <a class="underline" href="https://www.youtube.com/watch?v=Gn8TUdqcdBs&feature=youtu.be">this video</a> to watch a sample game with further explanations.</p>
        <br>
        <p>Github Repo: <a class="underline" href="https://github.com/djw11192/Project-3">Click Here</a></p>
        <p>Technologies:  Node with Express, Javascript, MongoDB, Socket.io, HTML/CSS, Bootstrap, Google Custom Search API</p>
      </div>
      <div class="col-md-6 projectPics" id="projectThreePic">
      </div>
    </div>

    <div class="col-md-12 section">
      <br>
      <hr>
      <div class="col-md-6 projectPics" id="projectTwoPic">
      </div>

      <div class="col-md-6">
        <h2 class="text-center">Monthly Markers</h2>
        <p>Monthly Markers is a fictional subscription service for dry-erase markers to help those teachers who run through markers way too quickly.  There is a multistep sign-up process involving authentication and authorization for each user.  Once signed up, a Member can view/edit profile information, add products to their existing order, and view their "Box"(current order).</p>
        <p> Check out Monthly Markers <a class="underline" href="https://afternoon-wave-81388.herokuapp.com/">here</a></p>
        <br>
        <p>Github Repo: <a class="underline" href="https://github.com/djw11192/Project2">Click Here</a></p>
        <p>Technologies: Ruby on Rails, PostgresQL, Bootstrap, Javascript Local Storage</p>
      </div>
    </div>

    <div class="col-md-12 section">
      <br>
      <hr>
      <div class="col-md-6">
        <h2 class="text-center">Jumpball</h2>
        <p>Jumpball is a 2-player game where users each have a team of 7 NBA players.  Similar to a fantasy sports game, each NBA player has a value determined by a customizable scoring system for all NBA statistical categories.  Users take turns choosing players and receive a point for each win.  The final winner is determined once the round is over, and users have the option of playing again.</p>
        <p>Play Jumpball <a class="underline" href="https://afternoon-wave-81388.herokuapp.com/">here</a></p>
        <br>
        <p>Github Repo: <a class="underline" href="https://djw11192.github.io/project1/">Click Here</a></p>
        <p>Technologies: HTML, CSS, Javascript & JQuery</p>
      </div>
      <div class="col-md-6 projectPics" id="projectOnePic">
      </div>
    </div>


</div>
